@model OrderViewModel

<form method="post" asp-action="Delete" id="form">
	<partial name="Partials/_ModalHeader" model='"Delete Order"' />
	<div class="modal-body" id="modalBody">

		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />

		<h4 class="mb-3 text-center">Order Information</h4>

		<div class="card">
			<div class="card-body">
				<dl class="row">
					<dt class="col-sm-4">Order ID</dt>
					<dd class="col-sm-8">
						<span>@Model.OrderId</span>
					</dd>

					<dt class="col-sm-4">Table Number</dt>
					<dd class="col-sm-8">
						<span>@Model.Table?.TableName</span>
					</dd>

					<dt class="col-sm-4">Reservation ID</dt>
					<dd class="col-sm-8">
						<span>@(Model.ResId?.ToString() ?? "N/A")</span>
					</dd>

					<dt class="col-sm-4">Created At</dt>
					<dd class="col-sm-8">
						<span>@(Model.CreatedAt != DateTime.MinValue ? Model.CreatedAt.ToString("g") : "Not Set")</span>
					</dd>

					<dt class="col-sm-4">Order Status</dt>
					<dd class="col-sm-8">
						<span>@Model.Status</span>
					</dd>
				</dl>
			</div>
		</div>

		<h4 class="my-3 text-center">Order Items</h4>

		@if (Model.OrderItems != null && Model.OrderItems.Any())
		{
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="table-dark">
						<tr>
							<th>Dish Name</th>
							<th>Quantity</th>
							<th>Create By</th>
							<th>Price</th>
							<th>Status</th>
							<th>Notes</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.OrderItems)
						{
							<tr>
								
								<td>
									<span>@item.Dish?.DishName</span>
								</td>
								<td>
									<span>@item.Quantity</span>
								</td>
								<td>
									<span>@item.CreatedBy</span>
								</td>
								<td>
									<span>@item.Dish?.Price.ToString("C")</span>
								</td>
								<td>
									<span>@item.Status</span>
								</td>
								<td>
									<span>@(@item.Notes ?? "None")</span>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
	</div>
	@{
		string deleteButton = "<button type='submit' class='btn btn-danger'>Delete</button>";
	}

	<partial name="Partials/_ModalFooter" model='@deleteButton' />
</form>