@using Models.Entities
@model WebApp.Models.OrderViewModel

<form method="post" asp-action="EditOrderItem" id="form">

	<partial name="Partials/_ModalHeader" model='"Edit Order Information"' />
	<div class="modal-body" id="modalBody">
		
		@* <dl class="row">
			<dt class="col-sm-4">Order ID</dt>
			<dd class="col-sm-8">
				<input type="hidden" asp-for="OrderId" />
				<span>@Model.OrderId</span>
			</dd>

			<dt class="col-sm-4">Table Name</dt>
			<dd class="col-sm-8">
				<input type="hidden" asp-for="TableId" />
				<span>@(Model.Table?.TableName ?? "N/A")</span>
			</dd>

			<dt class="col-sm-4">Reservation ID</dt>
			<dd class="col-sm-8">
				<input type="hidden" asp-for="ResId" />
				<span>@(Model.ResId?.ToString() ?? "N/A")</span>
			</dd>

			<dt class="col-sm-4">Created At</dt>
			<dd class="col-sm-8">
				<span>@Model.CreatedAt.ToString("g")</span>
			</dd>

			<dt class="col-sm-4">Order Status</dt>
			<dd class="col-sm-8">
				@Model.Status
			</dd>
		</dl> *@

		<h4>Order Items</h4>

		@if (Model.OrderItems != null && Model.OrderItems.Any())
		{
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Dish Name</th>
						<th>Quantity</th>
						<th>Create By</th>
						<th>Price</th>
						<th>Status</th>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.OrderItems.Count; i++)
					{
						<input type="hidden" asp-for="OrderItems[i].OrItemId" />
						<input type="hidden" asp-for="OrderItems[i].DishId" />
						<tr>
							<td>
								<input type="hidden" asp-for="OrderItems[i].OrItemId" />
								<span>@Model.OrderItems[i].Dish?.DishName</span>
							</td>
							<td>
								<input type="hidden" asp-for="OrderItems[i].Quantity" />
								<span>@Model.OrderItems[i].Quantity</span>
							</td>
							<td>
								<input type="hidden" asp-for="OrderItems[i].CreatedBy" />
								<span>@Model.OrderItems[i].CreatedBy</span>
							</td>
							<td>
								<input type="hidden" asp-for="OrderItems[i].Price" />
								<span>@Model.OrderItems[i].Price?.ToString("C")</span>
							</td>
							<td>
								<select asp-for="OrderItems[i].Status" asp-items="Model.OrderItems[i].StatusOptions" class="form-select" id="Status_@i">
								</select>
								<span asp-validation-for="OrderItems[i].Status" class="text-danger"></span>
							</td>
							<td>
								<input type="text" asp-for="OrderItems[i].Notes" class="form-control" id="Notes_@i" value="@(Model.OrderItems[i].Notes ?? "None")" />
								<span asp-validation-for="OrderItems[i].Notes" class="text-danger"></span>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<p>No order items found for this order.</p>
		}
	</div>

	@{
		string Button = $"<button type='submit' class='btn btn-primary'>Save</button>";
	}

	<partial name="Partials/_ModalFooter" model='Button' />
</form>
