@using Models.Entities
@model IEnumerable<WebApp.Models.OrderViewModel>

@{
	ViewData["Title"] = "Orders";
	Layout = "_DashboardLayout";
}

@functions {
	string GetStatusColor(OrderStatus status) => status switch
	{
		OrderStatus.Serving => "warning",
		OrderStatus.Reservation => "info",
		OrderStatus.Paid => "success",
		OrderStatus.Cancelled => "secondary",
	};
}

<h1 class="mb-4 text-center">Orders</h1>

<div class="container">
	<div class="rounded border shadow-sm p-3">
		<div class="table-responsive">
			<table class="table table-hover align-middle">
				<thead class="table-dark align-middle">
					<tr>
						<th>Order ID</th>
						<th>Table Number</th>
						<th>Created At</th>
						<th>Status</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var order in Model)
					{
						<tr>
							<td>@order.OrderId</td>
							<td>@order.Table?.TableName</td>
							<td>@order.CreatedAt.ToString("g")</td>
							<td><span class="badge text-bg-@GetStatusColor(order.Status)">@order.Status</span></td>
							<td class="text-center">
								<div class="btn-group" role="group">
									<a asp-action="Details" asp-controller="Order" asp-route-orderId="@order.OrderId" class="btn btn-info">Details</a>
									<button onclick="deleteOrder(@order.OrderId)" class="btn btn-danger">Delete</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
		<div class="modal-content" id="modalContent">
		</div>
	</div>
</div>

@section Scripts {
	<script>
		function detailsOrder(id) {
			var url = '@Url.Action("Details", "Order", new { orderId = "__id__" })'.replace("__id__", id);
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}

		function deleteOrder(id) {
			var url = '@Url.Action("Delete", "Order", new { orderId = "__id__" })'.replace("__id__", id);
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}
	</script>
}

