@using Models.Entities
@model WebApp.Models.FeedBackViewModel

<form method="post" asp-action="Edit" id="form">
	<partial name="Partials/_ModalHeader" model='"Edit Feedback"' />

	<div class="modal-body" id="modalBody">

		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />
			
		<input asp-for="FeedbackId" type="hidden" />

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.FeedbackId)</dt>
			<dd class="col-sm-8">@Model.FeedbackId</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.CreateAt)</dt>
			<dd class="col-sm-8">@Model.CreateAt</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.FullName)</dt>
			<dd class="col-sm-8">@Model.FullName</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Email)</dt>
			<dd class="col-sm-8">@Model.Email</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Phone)</dt>
			<dd class="col-sm-8">@Model.Phone</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Subject)</dt>
			<dd class="col-sm-8">@Model.Subject</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Body)</dt>
			<dd class="col-sm-8">@Model.Body</dd>
		</dl>

		<div class="form-floating mb-3">
			<select asp-for="Status" class="form-select" asp-items="Html.GetEnumSelectList<FeedBackStatus>()">
				<option selected id="DefaultSelectStatus">Please select status</option>
			</select>
			<label asp-for="Status"></label>
			<span asp-validation-for="Status" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<textarea asp-for="Note" class="form-control" rows="5" placeholder="Notes"></textarea>
			<label asp-for="Note"></label>
			<span asp-validation-for="Note" class="text-danger"></span>
		</div>

	</div>

	@{
		string saveButton = "<button type='submit' class='btn btn-primary'>Save Changes</button>";
	}

	<partial name="Partials/_ModalFooter" model='@saveButton' />
</form>
