@model DishViewModel

<form method="post" asp-action="Delete" id="form">
	<partial name="Partials/_ModalHeader" model='"Delete dish"' />

	<div class="modal-body" id="modalBody">

		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />

		<input asp-for="DishId" type="hidden" />

		<h3 class="mb-3">Are you sure you want to delete this dish?</h3>

		<div class="mb-3">
			<img class="rounded mx-auto d-block object-fit-cover" width="360" height="360" id="preview" src="@Model.ImagePath" onerror="this.src='https://placehold.co/360x360'" />
		</div>

		<dl class="row">

			<dt class="col-md-4">@Html.DisplayNameFor(m => m.DishId)</dt>
			<dd class="col-md-8">@Model.DishId</dd>

			<dt class="col-md-4">@Html.DisplayNameFor(m => m.DishName)</dt>
			<dd class="col-md-8">@Model.DishName</dd>

			<dt class="col-md-4">@Html.DisplayNameFor(m => m.Price)</dt>
			<dd class="col-md-8">@Model.Price</dd>

			<dt class="col-md-4">@Html.DisplayNameFor(m => m.Description)</dt>
			<dd class="col-md-8">@Model.Description</dd>

			<dt class="col-md-4">@Html.DisplayNameFor(m => m.CategoryName)</dt>
			<dd class="col-md-8">@Model.CategoryName</dd>

			<dt class="col-md-4">@Html.DisplayNameFor(m => m.Visible)</dt>
			<dd class="col-md-8">@Model.Visible</dd>

		</dl>
	</div>

	@{
		string deleteButton = "<button type='submit' class='btn btn-danger'>Delete</button>";
	}

	<partial name="Partials/_ModalFooter" model='@deleteButton' />
</form>