@model DishViewModel

<partial name="Partials/_ModalHeader" model='"Details Dish"' />

<div class="modal-body" id="modalBody">

	<div class="mb-3">
		<img src="@Model.ImagePath" onerror="this.src ='https://placehold.co/360x360'" alt="@Model.DishName" class="rounded mx-auto d-block object-fit-cover" width="360" height="360" />
	</div>

	<dl class="row">

		<dt class="col-md-4">@Html.DisplayNameFor(m => m.DishId)</dt>
		<dd class="col-md-8">@Model.DishId</dd>

		<dt class="col-md-4">@Html.DisplayNameFor(m => m.DishName)</dt>
		<dd class="col-md-8">@Model.DishName</dd>

		<dt class="col-md-4">@Html.DisplayNameFor(m => m.Price)</dt>
		<dd class="col-md-8">@Model.Price</dd>

		<dt class="col-md-4">@Html.DisplayNameFor(m => m.Description)</dt>
		<dd class="col-md-8">@Model.Description</dd>

		<dt class="col-md-4">@Html.DisplayNameFor(m => m.CategoryName)</dt>
		<dd class="col-md-8">@Model.CategoryName</dd>

		<dt class="col-md-4">@Html.DisplayNameFor(m => m.Visible)</dt>
		<dd class="col-md-8">@Model.Visible</dd>

	</dl>
</div>

<partial name="Partials/_ModalFooter" model='""' />