@model DishViewModel

<partial name="Partials/_ModalHeader" model='"Details Dish"' />

<div class="modal-body" id="modalBody">
	<dl>
		<dt>@Html.DisplayNameFor(m => m.DishId)</dt>
		<dd>@Model.DishId</dd>

		<dt>@Html.DisplayNameFor(m => m.DishName)</dt>
		<dd>@Model.DishName</dd>

		<dt>@Html.DisplayNameFor(m => m.Price)</dt>
		<dd>@Model.Price</dd>

		<dt>@Html.DisplayNameFor(m => m.Description)</dt>
		<dd>@Model.Description</dd>

		<dt>@Html.DisplayNameFor(m => m.CategoryName)</dt>
		<dd>@Model.CategoryName</dd>

		<dt>@Html.DisplayNameFor(m => m.Visible)</dt>
		<dd>@Model.Visible</dd>

		@if (!string.IsNullOrEmpty(Model.ImagePath))
		{
			<div class="mb-3">
				<img src="@Model.ImagePath" alt="@Model.DishName" class="img-thumbnail" style="max-width: 200px;" />
			</div>
		}
	</dl>
</div>

<partial name="Partials/_ModalFooter" model='""' />