@model IEnumerable<DishViewModel>
@{
    ViewData["Title"] = "Dishes";
    Layout = "_HomeLayout";
}

<h1 class="mb-4">Dishes</h1>

<div class="mb-4">
	<form class="d-flex justify-content-between" method="get">
		<input class="form-control me-2 mb-3" name="keyword" type="search" placeholder="Search by name...">
		<button class="btn btn-outline-success mb-3" type="submit" formaction="@Url.Action("Search")">Search</button>

		<div class="form-check form-check-inline mb-3">
			<label class="form-check-label">Select Categories:</label>
			@if (Model.Any())
			{
				foreach (var category in Model.First().CategoryOptions)
				{
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="selectedCategories" value="@category.Value" id="category_@category.Value">
						<label class="form-check-label" for="category_@category.Value">@category.Text</label>
					</div>
				}
			}
			else
			{
				<p>No categories available.</p>
			}
		</div>
		<button class="btn btn-outline-primary mb-3 ms-2" type="submit" formaction="@Url.Action("Filter")">Filter</button>
	</form>
</div>

@if (!Model.Any(m => m.Visible))
{
	<div class="no-dishes-message text-center mt-5">
		<h2>No dishes available.</h2>
		<p>Please add some dishes to the menu.</p>
	</div>
}
else
{
	<div class="row">
		@foreach (var category in Model.GroupBy(dish => dish.CategoryId))
		{
			<div>
				<h2>@category.First().CategoryName</h2>
			</div>
			@foreach (var item in category)
			{
				<div class="col-md-4 mb-4">
					<div class="card">
						<a asp-action="Details" asp-route-id="@item.DishId" class="text-decoration-none text-dark">
							<img src="@item.ImagePath" class="card-img-top" alt="Dish Image">
							<div class="card-body">
								<h5 class="card-title">@Html.DisplayFor(modelItem => item.DishName)</h5>
								<p class="card-text">Price: @Html.DisplayFor(modelItem => item.Price)</p>
								<p class="card-text">Category: @Html.DisplayFor(modelItem => item.CategoryName)</p>
							</div>
						</a>
						<div class="card-footer d-flex justify-content-between">
							<a asp-controller="Cart" asp-action="AddToCart" asp-route-dishId="@item.DishId" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" class="btn btn-primary">Add</a>
						</div>
					</div>
				</div>
			}
		}
	</div>
}

<style>
	.card img {
		height: 200px;
		object-fit: cover;
	}

	.no-dishes-message {
		margin-top: 100px;
	}
</style>

