@model ReservationViewModel

<form method="post" asp-action="Create" id="form">
	<partial name="Partials/_ModalHeader" model='"Create Reservation"' />

	<div class="modal-body" id="modalBody">

		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />

		<div class="form-floating mb-3">
			<select asp-for="CustomerId" asp-items='@new SelectList(Model.Customers, "UserId", "FullName")' class="form-control" id="CustomerId">
				<option value="">Select a Customer</option>
			</select>
			<label asp-for="CustomerId">Customer</label>
			<span asp-validation-for="CustomerId" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="PartySize" class="form-control" id="PartySize" />
			<label asp-for="PartySize">Party Size</label>
			<span asp-validation-for="PartySize" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="ResDate" type="date" class="form-control" id="ResDate" />
			<label asp-for="ResDate">Reservation Date</label>
			<span asp-validation-for="ResDate" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="ResTime" type="time" class="form-control" id="ResTime" />
			<label asp-for="ResTime">Reservation Time</label>
			<span asp-validation-for="ResTime" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<select asp-for="Status" class="form-control">
				<option selected disabled>Please select status</option>
				<option value="@Models.Entities.ReservationStatus.Pending">@Models.Entities.ReservationStatus.Pending</option>
				<option value="@Models.Entities.ReservationStatus.Confirmed">@Models.Entities.ReservationStatus.Confirmed</option>
			</select>
			<label asp-for="Status">Reservation Status</label>
			<span asp-validation-for="Status" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="DepositAmount" class="form-control" id="DepositAmount" />
			<label asp-for="DepositAmount">Deposit Amount</label>
			<span asp-validation-for="DepositAmount" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<textarea asp-for="Notes" class="form-control" id="Notes"></textarea>
			<label asp-for="Notes">Notes</label>
			<span asp-validation-for="Notes" class="text-danger"></span>
		</div>
	</div>

	@{
		string createButton = "<button type='submit' class='btn btn-primary'>Create</button>";
	}

	<partial name="Partials/_ModalFooter" model='@createButton' />
</form>