@model ReservationViewModel

<form method="post" asp-action="Delete" id="form">
	<input asp-for="ResId" type="hidden" />

	<partial name="Partials/_ModalHeader" model='"Delete Dish Category"' />

	<div class="modal-body" id="modalBody">

		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />
		
		<h3 class="mb-5">Are you sure you want to delete this account?</h3>
		
		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.ResId)</dt>
			<dd class="col-sm-8">@Model.ResId</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">Customer Full Name</dt>
			<dd class="col-sm-8">@Model.Customer?.FullName</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">Customer Phone</dt>
			<dd class="col-sm-8">@Model.Customer?.Phone</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.PartySize)</dt>
			<dd class="col-sm-8">@Model.PartySize</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.ResDate)</dt>
			<dd class="col-sm-8">@Model.ResDate.ToString("MM/dd/yyyy")</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.DepositAmount)</dt>
			<dd class="col-sm-8">@Model.DepositAmount</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.ResTime)</dt>
			<dd class="col-sm-8">@Model.ResTime.ToString("hh:mm tt")</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Status)</dt>
			<dd class="col-sm-8">@Model.Status</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Notes)</dt>
			<dd class="col-sm-8">@Model.Notes</dd>
		</dl>
	</div>

	@{
		string deleteButton = "<button type='submit' class='btn btn-danger'>Delete</button>";
	}

	<partial name="Partials/_ModalFooter" model='@deleteButton' />
</form>