@using Models.Entities
@model ReservationViewModel

<form method="post" asp-action="Edit" id="form">

	<input asp-for="ResId" type="hidden" />
	<input asp-for="CustomerId" type="hidden" />

	<partial name="Partials/_ModalHeader" model='"Edit Reservation"' />

	<div class="modal-body" id="modalBody">

		<partial name="Partials/_AlertDanger" model='TempData["Error"]' />

		<dl class="row">
			<dt class="col-sm-4">Reservation ID</dt>
			<dd class="col-sm-8">@Model.ResId</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">Full Name</dt>
			<dd class="col-sm-8">@Model.Customer?.FullName</dd>
		</dl>

		<dl class="row">
			<dt class="col-sm-4">Phone Number</dt>
			<dd class="col-sm-8">@Model.Customer?.Phone</dd>
		</dl>

		<div class="form-floating mb-3">
			<input asp-for="PartySize" class="form-control" id="PartySize" />
			<label asp-for="PartySize"></label>
			<span asp-validation-for="PartySize" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="ResDate" type="date" class="form-control" id="ResDate" />
			<label asp-for="ResDate"></label>
			<span asp-validation-for="ResDate" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="ResTime" type="time" class="form-control" id="ResTime" />
			<label asp-for="ResTime"></label>
			<span asp-validation-for="ResTime" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="DepositAmount" class="form-control" id="DepositAmount" />
			<label asp-for="DepositAmount"></label>
			<span asp-validation-for="DepositAmount" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			@if (Model.Status == ReservationStatus.Completed || Model.Status == ReservationStatus.Cancelled)
			{
				<input asp-for="Status" type="hidden" />
				<input asp-for="Status" class="form-control" disabled />
				<label asp-for="Status"></label>
			}
			else
			{
				<select asp-for="Status" class="form-select">
					<option selected disabled>Please select status</option>
					<option value="@ReservationStatus.Pending">@ReservationStatus.Pending</option>
					<option value="@ReservationStatus.Confirmed">@ReservationStatus.Confirmed</option>
					<option value="@ReservationStatus.Cancelled">@ReservationStatus.Cancelled</option>
				</select>
				<label asp-for="Status"></label>
				<span asp-validation-for="Status" class="text-danger"></span>
			}
			
		</div>

		<div class="form-floating mb-3">
			<textarea asp-for="Notes" class="form-control" id="Notes"></textarea>
			<label asp-for="Notes"></label>
			<span asp-validation-for="Notes" class="text-danger"></span>
		</div>

	</div>

	@{
		string saveButton = "<button type='submit' class='btn btn-primary'>Save</button>";
	}

	<partial name="Partials/_ModalFooter" model='@saveButton' />
</form>