@functions {
	string StatusClass(Models.Entities.ReservationStatus status) => status switch
	{
		Models.Entities.ReservationStatus.Pending => "info",
		Models.Entities.ReservationStatus.Confirmed => "primary",
		Models.Entities.ReservationStatus.Completed => "success",
		Models.Entities.ReservationStatus.Cancelled => "secondary",
	};
}

@model IEnumerable<ReservationViewModel>
@{
	ViewData["Title"] = "Reservation";
	Layout = "_DashBoardLayout";
}

<h1 class="mb-4 text-center">Reservations</h1>

<div class="d-grid row-gap-2 d-sm-flex justify-content-between rounded border shadow-sm p-3 mb-2">
	<div class="d-inline-block">
		<button onclick="create()" class="btn btn-primary">
			Add New Reservation
		</button>
	</div>
</div>

@if (!Model.Any())
{
	<div class="rounded border shadow-sm p-3">
		<div class="text-center py-4">
			<h2>No reservations available.</h2>
		</div>
	</div>
}
else
{
	<div class="rounded border shadow-sm p-3">
		<div class="table-responsive">
			<table class="table table-hover align-middle">
				<thead class="table-dark align-middle">
					<tr>
						<th>@Html.DisplayNameFor(model => model.ResId)</th>
						<th>Full Name</th>
						<th>Phone</th>
						<th>@Html.DisplayNameFor(model => model.PartySize)</th>
						<th>@Html.DisplayNameFor(model => model.ResDate)</th>
						<th>@Html.DisplayNameFor(model => model.ResTime)</th>
						<th>@Html.DisplayNameFor(model => model.Status)</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var reservation in Model)
					{
						<tr>
							<td>@Html.DisplayFor(modelItem => reservation.ResId)</td>
							<td>@Html.DisplayFor(modelItem => reservation.Customer.FullName)</td>
							<td>@Html.DisplayFor(modelItem => reservation.Customer.Phone)</td>
							<td>@Html.DisplayFor(modelItem => reservation.PartySize)</td>
							<td>@Html.DisplayFor(modelItem => reservation.ResDate)</td>
							<td>@Html.DisplayFor(modelItem => reservation.ResTime)</td>

							<td><span class="badge text-bg-@StatusClass(reservation.Status)">@reservation.Status</span></td>

							<td class="text-center">
								<div class="btn-group" role="group">
									<button type="button" onclick="details(@reservation.ResId)" class="btn btn-info">
										Details
									</button>
									<button type="button" onclick="edit(@reservation.ResId)" class="btn btn-primary">
										Edit
									</button>
									<button type="button" onclick="deleteAction(@reservation.ResId)" class="btn btn-danger">
										Delete
									</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}

<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
		<div class="modal-content" id="modalContent">
		</div>
	</div>
</div>

@section Scripts {
	<script>
		function create() {
			var url = '@Url.Action("Create", "Reservation")';
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}
		function details(id) {
			var url = '@Url.Action("Details", "Reservation", new { id = "__id__" })'.replace("__id__", id);
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}
		function edit(id) {
			var url = '@Url.Action("Edit", "Reservation", new { id = "__id__" })'.replace("__id__", id);
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}
		function deleteAction(id) {
			var url = '@Url.Action("Delete", "Reservation", new { id = "__id__" })'.replace("__id__", id);
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}
	</script>
}
