@model PayrollViewModel

<form method="post" asp-action="Delete" id="form">
	<partial name="Partials/_ModalHeader" model='"Delete Payroll"' />

	<div class="modal-body" id="modalBody">
		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />

		<input asp-for="PayrollId" type="hidden" />

		<h4 class="mb-3">Are you sure you want to delete this payroll?</h4>

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.PayrollId)</dt>
			<dd class="col-sm-8">@Model.PayrollId</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.EmpId)</dt>
			<dd class="col-sm-8">@Model.Employee?.FullName</dd>

			<dt class="col-sm-4">Month</dt>
			<dd class="col-sm-8">@Model.MonthAndYear.Month</dd>

			<dt class="col-sm-4">Year</dt>
			<dd class="col-sm-8">@Model.MonthAndYear.Year</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.WorkingHours)</dt>
			<dd class="col-sm-8">@Model.WorkingHours</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Salary)</dt>
			<dd class="col-sm-8">@Model.Salary</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Status)</dt>
			<dd class="col-sm-8">@Model.Status</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.PaymentDate)</dt>
			<dd class="col-sm-8">@(Model.PaymentDate?.ToString("yyyy-MM-dd") ?? "N/A")</dd>
		</dl>
	</div>

	@{
		string deleteButton = "<button type='submit' class='btn btn-danger'>Delete</button>";
	}

	<partial name="Partials/_ModalFooter" model='@deleteButton' />
</form>
