@model PayrollViewModel

<partial name="Partials/_ModalHeader" model='"Details Payroll"' />

<div class="modal-body" id="modalBody">
    <dl class="row">
        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.PayrollId)</dt>
        <dd class="col-sm-8">@Model.PayrollId</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.CreatedAt)</dt>
        <dd class="col-sm-8">@Model.CreatedAt</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Creator)</dt>
        <dd class="col-sm-8">@Model.Creator.FullName</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.EmpId)</dt>
        <dd class="col-sm-8">@Model.Employee?.FullName</dd>

        <dt class="col-sm-4">Month</dt>
        <dd class="col-sm-8">@Model.MonthAndYear.Month</dd>

        <dt class="col-sm-4">Year</dt>
        <dd class="col-sm-8">@Model.MonthAndYear.Year</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.WorkingHours)</dt>
        <dd class="col-sm-8">@Model.WorkingHours</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Salary)</dt>
        <dd class="col-sm-8">@Model.Salary.ToString("C")</dd>

        <dt class="col-sm-4">Total Earnings</dt>
        <dd class="col-sm-8 fw-medium">@((Model.Salary * Model.WorkingHours).Value.ToString("C"))</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Status)</dt>
        <dd class="col-sm-8">@Model.Status</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.PaymentDate)</dt>
        <dd class="col-sm-8">@(Model.PaymentDate?.ToString("yyyy-MM-dd") ?? "N/A")</dd>
    </dl>
</div>

<partial name="Partials/_ModalFooter" model='""' />


