@model PayrollViewModel

<form method="post" asp-action="Edit" id="form">
	<partial name="Partials/_ModalHeader" model='"Edit Payroll"' />

	<div class="modal-body" id="modalBody">
		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />

		<input asp-for="PayrollId" type="hidden" />

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.PayrollId)</dt>
			<dd class="col-sm-8">@Model.PayrollId</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.EmpId)</dt>
			<dd class="col-sm-8">@Model.Employee?.FullName</dd>

			<dt class="col-sm-4">Month</dt>
			<dd class="col-sm-8">@Model.MonthAndYear.Month</dd>

			<dt class="col-sm-4">Year</dt>
			<dd class="col-sm-8">@Model.MonthAndYear.Year</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.WorkingHours)</dt>
			<dd class="col-sm-8">@Model.WorkingHours</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Salary)</dt>
			<dd class="col-sm-8">@Model.Salary</dd>
		</dl>

		<div class="form-floating mb-3">
			<select asp-for="Status" asp-items="Html.GetEnumSelectList<Models.Entities.PayrollStatus>()" class="form-select">
				<option selected disabled>Please select Status</option>
			</select>
			<label asp-for="Status"></label>
			<span asp-validation-for="Status" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="PaymentDate" class="form-control" type="date" />
			<label asp-for="PaymentDate"></label>
			<span asp-validation-for="PaymentDate" class="text-danger"></span>
		</div>
	</div>

	@{
		string editButton = "<button type='submit' class='btn btn-primary'>Save Changes</button>";
	}

	<partial name="Partials/_ModalFooter" model='@editButton' />
</form>
