@model IEnumerable<PayrollViewModel>

@{
    ViewData["Title"] = "Payroll Management";
    Layout = "_DashboardLayout";
    int counter = 0;
}

<h1 class="mb-4 text-center">Payroll Management</h1>

<div class="mb-3">
    <button onclick="create()" class="btn btn-success">Add New Payroll</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(model => model.PayrollId)</th>
            <th>@Html.DisplayNameFor(model => model.EmpId)</th>
            <th>@Html.DisplayNameFor(model => model.Month)</th>
            <th>@Html.DisplayNameFor(model => model.Year)</th>
            <th>@Html.DisplayNameFor(model => model.WorkingHours)</th>
            <th>@Html.DisplayNameFor(model => model.Salary)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.PaymentDate)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payroll in Model)
        {
            <tr>
                <td>@(++counter)</td>
                <td>@Html.DisplayFor(modelItem => payroll.PayrollId)</td>
                <td>@Html.DisplayFor(modelItem => payroll.EmpId)</td>
                <td>@Html.DisplayFor(modelItem => payroll.Month)</td>
                <td>@Html.DisplayFor(modelItem => payroll.Year)</td>
                <td>@Html.DisplayFor(modelItem => payroll.WorkingHours)</td>
                <td>@Html.DisplayFor(modelItem => payroll.Salary)</td>
                <td>@Html.DisplayFor(modelItem => payroll.Status)</td>
                <td>@payroll.PaymentDate?.ToString("d")</td>
                <td>
                    <button class="btn btn-info btn-sm" onclick="view(@payroll.PayrollId)">Details</button>
                    <button class="btn btn-primary btn-sm" onclick="edit(@payroll.PayrollId)">Edit</button>
                    <button class="btn btn-danger btn-sm" onclick="deleted(@payroll.PayrollId)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="payrollModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="payrollModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="payrollModalContent">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function create() {
            var url = '@Url.Action("Create", "Payroll")';
            $.get(url, function (response) {
                $('#payrollModalContent').html(response);
                $('#payrollModal').modal('show');
            });
        }

        function view(id) {
            var url = '@Url.Action("Details", "Payroll", new { id = "__id__" })'.replace("__id__", id);
            $.get(url, function (response) {
                $('#payrollModalContent').html(response);
                $('#payrollModal').modal('show');
            });
        }

        function edit(id) {
            var url = '@Url.Action("Edit", "Payroll", new { id = "__id__" })'.replace("__id__", id);
            $.get(url, function (response) {
                $('#payrollModalContent').html(response);
                $('#payrollModal').modal('show');
            });
        }

        function deleted(id) {
            var url = '@Url.Action("Delete", "Payroll", new { id = "__id__" })'.replace("__id__", id);
            $.get(url, function (response) {
                $('#payrollModalContent').html(response);
                $('#payrollModal').modal('show');
            });
        }
    </script>
}
