@model ProfileViewModel
@{
	ViewData["Title"] = "Profile";
	if (!User.IsInRole(nameof(Models.Entities.Role.Customer)))
	{
		Layout = "_DashboardLayout";
	}
}

<div class="container">
	<h1 class="mb-4 text-center">Profile</h1>

	<div id="details" class="rounded border shadow-sm p-3 mb-2">
		<partial name="Partials/_AlertSuccess" model="@TempData["Success"]" />

		<dl class="row">
			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Username)</dt>
			<dd class="col-sm-8">@Model.Username</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.FullName)</dt>
			<dd class="col-sm-8">@Model.FullName</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Email)</dt>
			<dd class="col-sm-8">@Model.Email</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Phone)</dt>
			<dd class="col-sm-8">@Model.Phone</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Role)</dt>
			<dd class="col-sm-8">@Model.Role</dd>

			@if (@Model.Salary != null)
			{
				<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Salary)</dt>
				<dd class="col-sm-8">@Model.Salary?.ToString("C")</dd>
			}

		</dl>
	</div>

	<form asp-action="Profile" method="post">
		<div id="edit" class="rounded border shadow-sm p-3 mb-2 d-none">
			<h3 class="mb-3 text-center">Update Profile</h3>

			
			<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />
			<div asp-validation-summary="All" id="ValidationSummary" class="text-danger mb-3"></div>

			<input asp-for="Username" type="hidden" />
			<input asp-for="Role" type="hidden" />
			<input asp-for="Salary" type="hidden" />

			<div class="form-floating mb-3">
				<input asp-for="FullName" class="form-control" id="FullName" />
				<label asp-for="FullName"></label>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Email" class="form-control" id="Email" />
				<label asp-for="Email"></label>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Phone" class="form-control" id="Phone" />
				<label asp-for="Phone"></label>
			</div>

			<div class="form-floating mb-3">
				<input asp-for="OldPassword" class="form-control" id="OldPassword" />
				<label asp-for="OldPassword"></label>
			</div>

			<div class="form-floating mb-3">
				<input asp-for="NewPassword" class="form-control" id="NewPassword" />
				<label asp-for="NewPassword"></label>
			</div>
		</div>

		<div class="rounded border shadow-sm p-3 mb-2">
			<div class="d-flex gap-3">
				<button id="EditButton" onclick="edit()" type="button" class="btn btn-primary">Edit</button>
				<a asp-action="RedirectBasedOnRole" id="BackButton" class="btn btn-secondary">Back</a>

				<button type="submit" id="SaveButton" class="btn btn-primary d-none">Save</button>
				<a asp-action="Profile" id="BackToProfile" class="btn btn-secondary d-none">Back</a>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	<script>
		function edit() {
			document.getElementById("edit").classList.remove("d-none");
			document.getElementById("SaveButton").classList.remove("d-none");
			document.getElementById("BackToProfile").classList.remove("d-none");
			document.getElementById("details").classList.add("d-none");
			document.getElementById("EditButton").classList.add("d-none");
			document.getElementById("BackButton").classList.add("d-none");

		}
	</script>

	<script type="module">
		if (!document.getElementById("ValidationSummary").classList.contains("validation-summary-valid")) {
			edit();
		}
	</script>
}
