@model ShiftViewModel

<partial name="Partials/_ModalHeader" model='"Details Shift"'/>

<div class="modal-body" id="modalBody">
	<dl class="row">
		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.ShiftId)</dt>
		<dd class="col-sm-8">@Model.ShiftId</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.ShiftName)</dt>
		<dd class="col-sm-8">@Model.ShiftName</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.StartTime)</dt>
		<dd class="col-sm-8">@Model.StartTime</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.EndTime)</dt>
		<dd class="col-sm-8">@Model.EndTime</dd>
	</dl>
</div>

<partial name="Partials/_ModalFooter" model='""' />