@model ScheduleViewModel

<partial name="Partials/_ModalHeader" model='"Details Schedule"' />

<div class="modal-body" id="modalBody">
	<dl class="row">
		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.ScheId)</dt>
		<dd class="col-sm-8">@Model.ScheId</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.ScheDate)</dt>
		<dd class="col-sm-8">@Model.ScheDate</dd>

		<dt class="col-sm-4">Employee Name</dt>
		<dd class="col-sm-8">@Model.EmployeeName</dd>

		<dt class="col-sm-4">Shift Name</dt>
		<dd class="col-sm-8">@Model.ShiftName (@Model.StartTime - @Model.EndTime)</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Attendance.Status)</dt>
        <dd class="col-sm-8 fw-bold text-@StatusClass(Model.Attendance?.Status)">@(Model.Attendance == null ? "NotYet" : Model.Attendance.Status)</dd>
	</dl>
</div>

@functions {
	string StatusClass(Models.Entities.AttendanceStatus? status) => status switch
	{
		Models.Entities.AttendanceStatus.ClockIn => "primary",
		Models.Entities.AttendanceStatus.ClockOut => "success",
		Models.Entities.AttendanceStatus.Absent => "danger",
		_ => "dark"
	};
}

<partial name="Partials/_ModalFooter" model='""' />

