@model WebApp.Models.TableViewModel

<partial name="Partials/_ModalHeader" model='"Table Details"' />

<div class="modal-body" id="modalBody">
    <dl class="row">
        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.TableId)</dt>
        <dd class="col-sm-8">@Model.TableId</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.TableName)</dt>
        <dd class="col-sm-8">@Model.TableName</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Capacity)</dt>
        <dd class="col-sm-8">@Model.Capacity</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Status)</dt>
        <dd class="col-sm-8">@Model.Status</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.ResTime)</dt>
        <dd class="col-sm-8">@(Model.ResTime?.ToString("hh:mm tt") ?? "N/A")</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Notes)</dt>
        <dd class="col-sm-8">@(string.IsNullOrEmpty(Model.Notes) ? "None" : Model.Notes)</dd>
    </dl>
</div>

@{
    string button;
    if (Model.Order != null)
    {
        button = $"<a href='{Url.Action("Details", "Order", new { orderId = Model.Order.OrderId})}' class='btn btn-primary'>Go to Order</a>";
        if (Model.Status == Models.Entities.TableStatus.Reserved)
        {
            button += $" <a href='{Url.Action("CustomerArrived", "Order", new { orderId = Model.Order.OrderId, tableId = Model.TableId })}' class='btn btn-info'>Customer Arrived</a>";
        }
    }
    else
    {
        button = $"<button onclick='createOrder({Model.TableId})' class='btn btn-primary'>Create Order</button>";
    }
}

<partial name="Partials/_ModalFooter" model='button' />

<script>
    function createOrder(id) {
        var url = '@Url.Action("Create", "Order", new { tableId = "__id__" })'.replace("__id__", id);
        $.get(url, function (response) {
            $('#modalContent').html(response);
            $('#modal').modal('show');
        });
    }
</script>