@model IEnumerable<StorageViewModel>
@{
    ViewData["Title"] = "Storage";
    Layout = "_DashBoardLayout";
}
<h1>Storage</h1>

<a asp-action="Create" class="btn btn-primary">Create</a>
<a asp-controller="StorageLog" asp-action="Index" class="btn btn-info">Storage Log</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ItemId" class="link-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemId" class="link-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
