@model PaymentViewModel

<partial name="Partials/_ModalHeader" model='"Details Payment"' />

<div class="modal-body" id="modalBody">
    <h4>Order Items</h4>

    @if (Model.OrderItems != null && Model.OrderItems.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Dish Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>@item.Dish.DishName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price?.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
        <h4>
            <span>Total Amount: @Model.TotalAmount.ToString("C")</span>
        </h4>

        <hr class="my-3" />
        <h5>
            <span>Payment Method: @(Model.PaymentMethod?.ToString() ?? "N/A")</span>
        </h5>
        <h5>
            <span>Payment Date: @(Model.PaymentTime?.ToString() ?? "N/A")</span>
        </h5>
    }
    else
    {
        <p>No order items available.</p>
    }
</div>
<partial name="Partials/_ModalFooter" model='""' />
