@model UserViewModel

<form method="post" asp-action="Delete" id="form">
	<partial name="Partials/_ModalHeader" model='"Delete User"' />

	<div class="modal-body" id="modalBody">

		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />

		<input asp-for="UserId" type="hidden" />

		<h4 class="mb-3">Are you sure you want to delete this account?</h4>

		<dl class="row">

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.UserId)</dt>
			<dd class="col-sm-8">@Model.UserId</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Username)</dt>
			<dd class="col-sm-8">@Model.Username</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.FullName)</dt>
			<dd class="col-sm-8">@Model.FullName</dd>

			<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Role)</dt>
			<dd class="col-sm-8">@Model.Role</dd>

		</dl>
	</div>

	@{
		string deleteButton = "<button type='submit' class='btn btn-danger'>Delete</button>";
	}

	<partial name="Partials/_ModalFooter" model='@deleteButton' />
</form>