@model UserViewModel

<partial name="Partials/_ModalHeader" model='"Details User"' />

<div class="modal-body" id="modalBody">
	<dl class="row">
		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.UserId)</dt>
		<dd class="col-sm-8">@Model.UserId</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Username)</dt>
		<dd class="col-sm-8">@Model.Username</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.FullName)</dt>
		<dd class="col-sm-8">@Model.FullName</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Email)</dt>
		<dd class="col-sm-8">@Model.Email</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Phone)</dt>
		<dd class="col-sm-8">@Model.Phone</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Role)</dt>
		<dd class="col-sm-8">@Model.Role</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.Salary)</dt>
		<dd class="col-sm-8">@Model.Salary</dd>

		<dt class="col-sm-4">@Html.DisplayNameFor(m => m.IsActive)</dt>
		<dd class="col-sm-8">@Model.IsActive</dd>
	</dl>
</div>

<partial name="Partials/_ModalFooter" model='""' />