@model IEnumerable<UserViewModel>
@{
	ViewData["Title"] = "User";
	Layout = "_DashboardLayout";
	int counter = 0;
}

<h1 class="mb-4 text-center">Users</h1>

<div class="d-grid row-gap-2 d-sm-flex justify-content-between rounded border shadow-sm p-3 mb-2">
	<div class="d-inline-block">
		<button onclick="create()" class="btn btn-success">Add New User</button>
	</div>
</div>

@if (!Model.Any())
{
	<div class="rounded border shadow-sm p-3">
		<div class="text-center py-4">
			<h2>No user available.</h2>
			<span>Please add some user.</span>
		</div>
	</div>
}
else
{
	<div class="rounded border shadow-sm p-3">
		<div class="table-responsive">
			<table class="table table-hover align-middle">
				<thead class="table-dark align-middle">
					<tr>
						<th>
							#
						</th>
						<th>@Html.DisplayNameFor(model => model.Username)</th>
						<th>@Html.DisplayNameFor(model => model.FullName)</th>
						<th>@Html.DisplayNameFor(model => model.Role)</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@(++counter)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Username)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.FullName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Role)
							</td>
							<td class="text-center">
								<div class="btn-group" role="group">
									<button class="btn btn-info" onclick="details(@item.UserId)">Details</button>
									<button class="btn btn-primary" onclick="edit(@item.UserId)">Edit</button>
									<button class="btn btn-danger" onclick="deleteAction(@item.UserId)">Delete</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}

<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content" id="modalContent">
		</div>
	</div>
</div>

@section Scripts {
	<script>
		function create() {
			var url = '@Url.Action("Create", "User")';
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}
		function details(id) {
			var url = '@Url.Action("Details", "User", new { id = "__id__" })'.replace("__id__", id);
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}
		function edit(id) {
			var url = '@Url.Action("Edit", "User", new { id = "__id__" })'.replace("__id__", id);
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}
		function deleteAction(id) {
			var url = '@Url.Action("Delete", "User", new { id = "__id__" })'.replace("__id__", id);
			$.get(url, function (response) {
				$('#modalContent').html(response);
				$('#modal').modal('show');
			});
		}
	</script>
}